log/*
*~
tmp/*
tmp/pids/*.pid
tmp/sessions/*
tmp/cache/*
tmp/sockets/*
.DS_Store
config/database.yml
/log/*.pid
/coverage/*
public/system/*
.idea/*
tmp/metric_fu/*
tmp/sent_mails/*
.ackrc
vendor/rails
coverage/*
assets/*
