<p>
  <b>Project manager:</b>
  <%=h @doe_project_manager.project_manager %>
</p>


<%= link_to 'Edit', edit_doe_project_manager_path(@doe_project_manager) %> |
<%= link_to 'Back', doe_project_managers_path %>