<div id="navigation">
  <ul class="primary">

    <%= tab('Home', root_path, :title => 'Home') %>
    <%= tab('Search', '/home/search', :title => 'Rulemakings') { params[:controller] == 'home' && params[:action] == 'search'} %>
    <%= tab('Rulemakings', rulemakings_path, :title => 'Rulemakings') { params[:controller] == 'rulemakings'} %>
  </ul>
      
</div>
